section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    background-color: #1B998B;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    width: 954px;
    height: 588px;
    font-family: "Roboto";
    margin-top: 100px;
}

.error h1{
    font-family: "moose";
    color: #F4AFAB;
    font-size: 800%;
    margin-top: 25px;
}

.error h2{
    color: white;
    font-size: 300%;
}

.error a{
    color: white;
    font-size: 250%;
}
.error p{
    color: white;
    font-size: 150%;
    direction: rtl;
}

.error img{
    width: 20%;
}