@font-face {
 font-family: "Roboto";
 src: url("../css/font/Roboto-Regular.ttf");
}

#login {
    font-family: "Roboto";
    margin-top: 55px;
}
#login_champ{
position: absolute;
width: 880px;
height: 600px;
left: 50%;
background: #F7F7FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 117px;
transform: translateX(-50%);
}

#login_champ  h2 {
position: relative;
width: 266px;
height: 56px;
left: 150px;
top: 100px;
text-transform: uppercase;
font-size: 36px;
color : #29335C;
}
#login_champ form{
    position: relative;
    top: 100px;
    left: 154px;
}
#login_champ input{
    background-color: rgba(244,175,171,.46);
    border-radius: 7px;
    border: none;
    padding: 5px 20px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 14rem;
}

#login_champ #envoyer_input{
    background-color: #1B998B;
    width: 15.4rem;
    padding: 10px;
    font-size: 1rem;
    color: white;
}
#right_moose {
    
display: flex;
position: relative;
width: 450px;
height: 607px;
left: 800px;
top: 0;
background: #1B998B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 117px; 
}
@media screen and (max-width: 768px){
    #right_moose{
        display: none;
    }
}
#right_moose h1{
font-family: "moose";
position: absolute;
top: 20px;
left: 50%;
font-size: 80px;
color: #F4AFAB;
transform: translate(-50%, -20px);
    
}
#right_moose div{
    position: absolute;
    bottom: 30px;
    right: 10px;
    display: flex;
}
#right_moose div p{
    margin-top: 50px;
    color: #F7F7FF;
    font-size: 1.3rem;
    font-weight: 200;
    font-style: italic;
}
#right_moose img {
    
    /*position: relative;*/
    width: 200px;
    height: 250px;
    
}
/* Responsive */
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px)
.container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}
@media (min-width: 1200px)
.container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}

