body{
    font-weight: 400; 
    padding: 0;
    margin: 0;
   
}
#header{
    background-color: #1B998B;
    padding: 5px;
    padding-top: 20px;
}

#sidebar-menu {
    display: flex;
    justify-content: space-between;
}

#menu-liens > a{
    color : white;
    text-decoration: none;
    padding-right: 160px;
    font-size: 30px;
    
padding-left: 180px;
  
}
#profil{
     color: #F4AFAB;
    font-size: 30px;
}

#titre_amis {
    padding-top: 20px;
    font-size: 20px;
}

#liste-amis{
     background-color: #F7F7FF;
    padding-top: 15px;
    margin-top: 50px;
    margin-left: 400px; 
    margin-right: 400px; 
    margin-bottom: 200px;
    padding-bottom: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #29335C;
}

#liste-amis > ul {
    list-style-type:none;
    color: black;
}

#liste-amis > ul > li > a {
    

    
}

a {
   
    color: black;
}

#main-contain{
     background-color: #F7F7FF;
    padding-top: 15px;
    margin-top: 50px;
    margin-left: 400px; 
    margin-right: 400px; 
    margin-bottom: 200px;
    padding-bottom: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #29335C;
    
}




#copyright-text{
    color: white;
   
}
#footer {
    display: flex;
    background-color: #1B998B;
    justify-content: space-between;
    padding-top: 10px;
    color: white;
}
#footer img {
    padding-left: 10px;
    width: 50px;
}